@page
@model OlxBg.Pages.Advertisements.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<style>
    .category-box {
        display: none !important;
    }
</style>
<section class="mainpage-gallery clr" id="mainpageAds">
    <h2>Изтриване на обява</h2>
    <hr />
    <p style="font-size:15px;">Сигурни ли сте ,че искате да изтриете тази обява? <span style="color:orange;">@Html.DisplayFor(model => model.Advert.Title)</span></p>
    <div>
        
        <form method="post">
            <input type="hidden" asp-for="Advert.ID" />
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-page="./Myadvert">Назад</a>
        </form>
    </div>
    </section>